<?xml version="1.0"?>
  <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
      <menu>
        <add id="Chanikyahub_AdminPage::greetings" title="Greetings" translate="title" module="Chanikyahub_AdminPage" parent="Magento_Backend::content" sortOrder="50" dependsOnModule="Chanikyahub_AdminPage" resource="Chanikyahub_AdminPage::greetings"/>
        <add id="Chanikyahub_AdminPage::greetings_helloworld" title="Hello World" translate="title" module="Chanikyahub_AdminPage" parent="Chanikyahub_AdminPage::greetings" sortOrder="10" dependsOnModule="Chanikyahub_AdminPage" action="adminpage/welcomem2" resource="Chanikyahub_AdminPage::greetings"/>
      </menu>
  </config>
